
/* Style from Siddik*/
a{
    text-decoration: none;
}

/* Style from Siddik */

/* VARIABLEN START */






/* VARIABLEN END */


/* Ahmet*/

body>nav>#new-navbar{
    display: flex;
    justify-content: space-between !important;
}

.navbar-collapse{
    flex-grow: 0 !important;
}


.praxis{
    font-size: .75rem;
}


