

@use "../../node_modules/bootstrap/scss/bootstrap" with (

  $card-cap-bg:#beeceb !important,

);


/* VARIABLEN START */

$title-font: "Viga", sans-serif;
$header-link-font-size: 1.5rem;

.btn{
  background-color: #1aa19f !important;
}

.btn-outline-success {
  color:white !important;
  border-color: #36e0de !important;
}

/* VARIABLEN END */

/* Style from Siddik*/


a{
    text-decoration: none !important;
}

/* Style from Siddik */


/* Ahmet*/

body {
  nav {
    div {
      div {
        ul {
          li {
            font-size: $header-link-font-size;
          }
        }
      }
    }
  }
}

body > nav > #new-navbar {
  display: flex;
  justify-content: space-between !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.praxis {
  font-size: 0.75rem;
  font-family: $title-font;
}

.cards div {
    margin-top: 10px;
}

.card{
    ul{
        li{
            list-style: none;
            padding: 4px;
        }
    }
}

section > div > img{
    height: 80vh;
    background-size: cover;
    box-sizing: border-box;
   
}

/* Style from Siddik*/
a {
  text-decoration: none;
}

/* Style from Siddik */



/* Ghania Style*/ 



/* ANGEBOT SEITE */

.angebote-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .card{
    margin: 10px;
    height: 400px;
    width: 600px;


    .card-header{
      text-align: center;
    }
  }
}

@media screen and (min-width:768px) {

  .angebote-cards{
    .card{
      margin: 10px;
      height: 300px;
      width: 600px;
    }
  }
  
}