/* VARIABLEN START */

$title-font: "Viga", sans-serif;
$header-link-font-size: 1.5rem;

/* VARIABLEN END */

/* Ahmet*/

body {
  nav {
    div {
      div {
        ul {
          li {
            font-size: $header-link-font-size;
          }
        }
      }
    }
  }
}

body > nav > #new-navbar {
  display: flex;
  justify-content: space-between !important;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.praxis {
  font-size: 0.75rem;
  font-family: $title-font;
}

.cards div {
    margin-top: 10px;
}

.card{
    ul{
        li{
            list-style: none;
            padding: 4px;
        }
    }
}

section > div > img{
    height: 80vh;
    background-size: cover;
    box-sizing: border-box;
   
}

/* Style from Siddik*/
a {
  text-decoration: none;
}

/* Style from Siddik */



/* Ghania Style*/ 

